<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/AK21/src/test/java/module2/OpenGeneralBrowserTest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="module2.OpenGeneralBrowserTest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="AK21"/>
</launchConfiguration>
